*.stl filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-01.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-25.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-31.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-33.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-15.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-22.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-04.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-05.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-07.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-09.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-16.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-17.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-20.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-34.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-10.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-24.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-36.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-03.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-13.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-18.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-29.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-35.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-02.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-06.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-12.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-21.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-30.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-28.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-14.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-08.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-11.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-23.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-26.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-27.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-19.tsv filter=lfs diff=lfs merge=lfs -text
data/diagrams/childrensgame/gukov-32.tsv filter=lfs diff=lfs merge=lfs -text
