# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

PolyFold/Polyfold
PolyFold_Kyoto/Polyfold
submodules/.DS_Store
python/src/.DS_Store
python/knoodle/.DS_Store
python/.DS_Store
.DS_Store
python/test_knoodle.py
python/knoodle/__pycache__/__init__.cpython-310.pyc
