# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



# Emacs backup files
*~
\#*\#

# MacOS cruft
.DS_Store

# More executables and outputs of devel code

devel/*/Tools_Log.txt
devel/*/Tools_Profile.tsv
devel/PolyFold/Polyfold
devel/PolyFold/PolyFold
devel/PolyFold/polyfold
devel/PolyFold_Kyoto/Polyfold
devel/PolyFold_Kyoto/PolyFold
devel/PolyFold_Kyoto/polyfold
devel/Dev_OrthoDraw/TestOrthoDraw

examples/Example_Knoodle/Knoodle
examples/Example_Knoodle/Diagram_Reapr.txt
examples/Example_Knoodle/Diagram_Simplify3.txt
examples/Example_Knoodle/Diagram_Simplify4.txt
examples/Example_Knoodle/Diagram_Simplify5.txt
examples/Example_Knoodle/Diagram_unsimplified.txt

devel/Dev_ClisbyTree2/Example_ClisbyTree2

tools/ExampleKnot_simplified.tsv
tools/knoodlesimplify
tools/knoodledraw
tools/knoodleidentify
tools/knoodlesimplify.log
tools/knoodledraw.log
tools/knoodleidentify.log

# test/ build artifacts (probe binaries)
test/key_roundtrip_probe
test/homfly_check
test/inflate_check
test/klut_check
test/klut_e2e
test/klut_e2e_*.tsv
test/klut_e2e_*.txt
test/klut_e2e_*.log
test/inflate_fail_*.tsv
test/build/

# Markdown files
*.md 
doc/*
doc.html

# Stuff that's only on Henrik's machine
# user-specific XCode data
*.xcuserstate
*.xcodeproj/xcuserdata/*
*.xcworkspace/
*.xcuserstate
xcuserdata/

Literature/



